.this-passes {}

.nested-root .nested-child {}

.this-passes-local {
  composes: this-passes;
  composes: nested-root;
  composes: nested-child;
}

.this-passes-global {
  composes: global from global;
}

.this-passes-complex {
  composes: this-passes this-passes-global;
  composes: global from global;
  composes: baz from './baz.css';
}
