.solo-class {}

.nested-root .intermediary-node .nested-child {}

.chained-root.chained-node.chained-child {}

.class-with-attr[some-attr] {}

.from-class {}

.lots-of-compositions {
  composes: solo-class;
  composes: nested-root;
  composes: intermediary-node;
  composes: nested-child;
  composes: chained-root;
  composes: chained-node;
  composes: chained-child;
  composes: solo-class nested-child;
  composes: global from global;
  composes: class-with-attr;
  composes: baz from './baz.css';
  composes: bazzy from './baz.css';
  composes: sassy from '~sass.css';
  composes: from-class;
  composes: from-class from './fromfile.css';
  composes: baz from './from file.css';
  composes: baz from baz2 from './my file from css.css';
  composes: baz from baz2 from "./my file from css.css";
}
